<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Datos de Salud</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main class="form-box">
        <h1>Formulario de Datos de Salud</h1>
        <form class="form" action="/predict" method="POST">

            <label for="BMI">Índice de masa corporal (BMI):</label>
            <input class="field-input" type="number" name="BMI"><br>

            <label for="Age">Edad:</label>
            <input class="field-input" type="number" name="Age"><br>

            <label for="PhysHlth">Salud física:</label>
            <input class="field-input" type="number" name="PhysHlth"><br>

            <label for="Sex">Género:</label>
            <input class="field-input" type="text" name="Sex"><br>

            <label for="HighBP">Presión arterial alta:</label>
            <input class="check-input" type="checkbox" name="HighBP"><br>

            <label for="HighChol">Colesterol alto:</label>
            <input class="check-input" type="checkbox" name="HighChol"><br>

            <label for="CholCheck">Control de colesterol:</label>
            <input class="check-input" type="checkbox" name="CholCheck"><br>

            <label for="Smoker">Fumador:</label>
            <input class="check-input" type="checkbox" name="Smoker"><br>

            <label for="Stroke">Derrame cerebral:</label>
            <input class="check-input" type="checkbox" name="Stroke"><br>

            <label for="HeartDiseaseorAttack">Enfermedad cardíaca o ataque al corazón:</label>
            <input class="check-input" type="checkbox" name="HeartDiseaseorAttack"><br>

            <label for="PhysActivity">Actividad física:</label>
            <input class="check-input" type="checkbox" name="PhysActivity"><br>

            <label for="Fruits">Consumo de frutas:</label>
            <input class="check-input" type="checkbox" name="Fruits"><br>

            <label for="Veggies">Consumo de verduras:</label>
            <input class="check-input" type="checkbox" name="Veggies"><br>

            <label for="HvyAlcoholConsump">Consumo de alcohol excesivo:</label>
            <input class="check-input" type="checkbox" name="HvyAlcoholConsump"><br>

            <label for="DiffWalk">Dificultad para caminar:</label>
            <input class="check-input" type="checkbox" name="DiffWalk"><br>

            <input class="btn" type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>
